@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@font-face {
    font-family: 'lato-bold';
    src: url('../fonts/lato-bold.eot');
    src: url('../fonts/lato-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-bold.woff') format('woff'), url('../fonts/lato-bold.ttf') format('truetype'), url('../fonts/lato-bold.svg#LatoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato-regular';
    src: url('../fonts/lato-regular.eot');
    src: url('../fonts/lato-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-regular.woff') format('woff'), url('../fonts/lato-regular.ttf') format('truetype'), url('../fonts/lato-regular.svg#LatRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('/cars/SF-Pro.dmg');
}

@font-face {
    font-family: 'p22_corinthia';
    src: url('../fonts/p22_corinthia.eot');
    src: url('../fonts/p22_corinthia.eot?#iefix') format('embedded-opentype'), url('../fonts/p22_corinthia.woff') format('woff'), url('../fonts/p22_corinthia.ttf') format('truetype'), url('../fonts/p22_corinthia.svg#P22Corinthia') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Good Times';
    src: url(/cars/good_times_rg.otf);
}

@font-face {
    font-family: 'Quicksand';
    src: url(/cars/Quicksand-VariableFont_wght.ttf) format('truetype');
}

body {
    /* background: #fcfcfc; */
    background-image: url('/ev/assets/bgm.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #626262;
    font-family: "Good Times";
    /* letter-spacing: 1px; */
}

h1 {
    font-size: 1em;
    margin: .5em 0
}

h2 {
    font-size: 1.5em;
    margin: .75em 0
}

h3 {
    font-size: 1.0em;
    margin: 0em 0
}

h5 {
    font-size: .83em;
    margin: 1.5em 0
}

h6 {
    font-size: .75em;
    margin: 1.67em 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bolder
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

header {
    width: 100%;
    height: 100px;
    /* background: rgba(71, 71, 71, 0.502); */
    background: linear-gradient(180deg, rgba(132, 132, 132, 0.502) -50%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    z-index: 10;
}

header .logo {
    font-family: 'Good Times';
    margin-top: 25px;
    float: left;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 30px #ffffff;
}


/* .logo>img {
        margin-top: 5px;
    } */

header a.hamburger {
    text-decoration: none;
    display: none;
    float: right;
    margin-top: 41px;
    width: 24px;
    height: 19px;
    background: url('../img/hamburger_icon.png') no-repeat;
}

header a.hamburger.opned {
    width: 19px;
    background: url('../img/close_menu_icon.png') no-repeat;
}

header nav {
    float: right;
    opacity: 1;
}

header nav ul {
    margin-top: 40px;
    list-style: none;
    /* overflow: hidden; */
    float: left;
}

header nav ul li {
    float: left;
    margin-left: 40px;
}

header nav ul li a,
header nav .login_btn {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Quicksand';
    /* font-weight: bold; */
    font-size: 20px;
    letter-spacing: 0px;
}

header nav .login_btn {
    float: right;
    margin: 30px 0 0 50px;
    padding: 10px 30px 11px 30px;
    border: 2px solid #ffffff;
    background: transparent;
    transition: background .1s linear;
    -webkit-transition: background .1s linear;
    -moz-transition: background .1s linear;
    -o-transition: background .1s linear;
}

header nav .login_btn:hover {
    background: #ffffff;
    color: #1c3655;
}

.hero {
    width: 100%;
    height: 500px;
    position: relative;
    background: url(../img/bg.jpg) no-repeat bottom center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.hero .caption {
    width: 100%;
    position: relative;
    top: 0;
    text-align: center;
    top: 50%;
    margin-top: -105px;
    z-index: 10;
    background-color: #ffffff7f;
}


/* .caption h1 {
    color: #fff;
} */

.hero .caption h2 {
    color: #fff;
    font-family: "p22_corinthia", Helvetica, Arial, sans-serif;
    font-size: 100px;
    font-weight: lighter;
    margin: 0;
    position: relative;
    display: block;
}

.hero .caption h3 {
    color: #fff;
    font-family: 'Quicksand';
    font-size: 14px;
    margin: -15px 0 0 25px;
    left: 1px;
}


/*  Search Section  */


/*  listings section  */

.listings {
    padding: 50px 0;
}

.listings ul.properties_list {
    list-style: none;
    overflow: hidden;
}

.listings ul.properties_list li {
    display: block;
    width: 30.90909090909091%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    float: left;
    margin: 0 3.636363636363636% 3.636363636363636% 0;
    background-color: #5affec51;
}

.listings ul.properties_list li img.property_img {
    width: 100%;
    height: auto!important;
    vertical-align: top;
}

.carimg {
    transition: transform 0.2s;
}

.carimg:hover {
    transform: scale(1.05);
}

.listings ul.properties_list li .price {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 15px 20px;
    background: #fff;
    color: #514d4d;
    font-family: "lato-bold", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}

.listings ul.properties_list li:nth-child(3n+0) {
    margin-right: 0;
}

.listings ul li .property_details {
    width: 87.64705882352941%;
    padding: 0 5.882352941176471% 0 5.882352941176471%;
    border-radius: 0 0 20px 20px;
    /* border-bottom: 1px solid #f2f1f1;
        border-left: 1px solid #f2f1f1;
        border-right: 1px solid #f2f1f1; */
    transition: all .2s linear;
}


/* .listings ul li:hover .property_details {
        /* border-bottom: 1px solid #95badf;
        border-left: 1px solid #95badf;
        border-right: 1px solid #95badf; */


/* transform: scale(1.1); */

.listings ul li .property_details h1 {
    color: #ededed;
    font-family: "lato-bold", Helvetica, Arial, sans-serif;
    font-size: 16px!important;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 28px;
}

.listings ul li .property_details h1 a {
    text-decoration: none;
    color: #ededed;
}

.listings ul li .property_details h2 {
    color: #ffffff;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 26px;
    font-weight: normal;
}

.listings ul li .property_details .property_size {
    color: #ededed;
}

.listings .more_listing {
    display: block;
    width: 100%;
    text-align: center;
    margin: 84px 0 22px 0;
}

.listings .more_listing_btn {
    text-decoration: none;
    padding: 20px 40px;
    border: 2px solid #bfd9f1;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    color: #afcbe6;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.listings .more_listing_btn:hover {
    color: #a0c3e5;
    border: 2px solid #a0c3e5;
}


/* To Hide ScrollBar */

.hide::-webkit-scrollbar {
    width: 0 !important;
}


/*  responsive css */

@media (max-width:1500px) {
    .hero {
        height: 800px;
    }
}

@media (max-width: 1150px) {
    .wrapper {
        padding: 0 40px;
        max-width: 1020px;
    }
    .search .advanced_search .arrow {
        top: -8px;
        right: 46px;
    }
    .search .advanced_search #check_in_date,
    .search .advanced_search #check_out_date,
    .search .advanced_search #min_price,
    .search .advanced_search #max_price {
        width: 46.27272727272727%;
        padding: 0 1.818181818181818%;
    }
    .search .advanced_search #check_in_date,
    .search .advanced_search #check_out_date {
        background: url('../img/calendar_icon.png') no-repeat;
        background-position: 95.08840864440079% 50%;
    }
    .search .advanced_search #keywords {
        width: 96.36363636363636%;
        padding: 0 1.818181818181818%;
    }
}

@media (max-width:800px) {
    .hero {
        height: 600px;
    }
    .hero .caption {
        width: 92.72727272727273%;
        padding: 0 3.636363636363636%;
    }
    .hero .caption h3 {
        margin: 0;
        left: 0;
    }
    header a.hamburger {
        display: block;
    }
    header nav {
        position: absolute;
        display: none;
        width: 92.72727272727273%;
        top: 95px;
        left: 3.636363636363636%;
        float: none;
        z-index: 20;
        overflow: hidden;
        background: #fff;
        border-top: 5px solid #bfd9f2;
    }
    header nav.active {
        display: block;
    }
    header nav .login_btn {
        float: none;
        display: inline-block;
        width: 100%;
        border: 0;
        margin: 0;
        padding: 20px 0;
        text-align: center;
        background: #f2f3f3;
    }
    header nav ul {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 0;
    }
    header nav ul li {
        display: block;
        width: 100%;
        float: none;
        margin-left: 0;
    }
    header nav ul li a {
        display: block;
        padding: 25px 0;
        border-bottom: 1px solid #f2f3f3;
        transition: background .2s linear;
        -webkit-transition: background .2s linear;
        -moz-transition: background .2s linear;
        -o-transition: background .2s linear;
    }
    header nav ul li a:active {
        background: #f2f3f3;
    }
    header nav ul li a,
    header nav .login_btn {
        color: #1c3655;
    }
    header nav .login_btn:hover {
        background: #eaebeb;
    }
    header nav ul li:last-child {
        border: 0;
    }
    .listings ul.properties_list li {
        width: 46.36363636363636%;
        margin: 0 7.272727272727273% 7.272727272727273% 0;
    }
    .listings ul.properties_list li:nth-child(3n+0) {
        margin: 0 7.272727272727273% 7.272727272727273% 0;
    }
    .listings ul.properties_list li:nth-child(2n+0) {
        margin-right: 0;
    }
}

@media (max-width:700px) {
    .search .advanced_search #check_in_date,
    .search .advanced_search #check_out_date,
    .search .advanced_search #min_price,
    .search .advanced_search #max_price {
        width: 96.36363636363636%;
        padding: 0 1.818181818181818%;
        border-bottom: 1px solid #aac8e4;
    }
    .search .advanced_search #check_in_date,
    .search .advanced_search #check_out_date {
        background: url('../img/calendar_icon.png') no-repeat;
        background-position: 95.08840864440079% 50%;
    }
    .search .advanced_search #keywords {
        width: 96.36363636363636%;
        padding: 0 1.818181818181818%;
    }
    .search .advanced_search .search_fields {
        border-bottom: 0;
    }
    .search .advanced_search .field_sep {
        display: none;
    }
}

@media (max-width:500px) {
    .hero .caption h2 {
        font-size: 85px;
    }
    .hero .caption h3 {
        font-size: 16px;
    }
    .search #search {
        width: 83%;
    }
    .listings ul.properties_list li {
        width: 100%;
        margin-bottom: 60px!important;
    }
    .listings ul.properties_list li:last-child {
        margin-bottom: 0!important;
    }
    .listings ul.properties_list li:nth-child(3n+0),
    .listings ul.properties_list li:nth-child(2n+0) {
        margin: 0;
    }
    .listings .more_listing_btn {
        display: block;
        width: 100%;
        padding-left: 0!important;
        padding-right: 0!important;
    }
}

.cal {
    display: flex;
    margin-top: 100px;
}

#date-form {
    margin: 0 auto;
}

.flash-message {
    padding: 20px;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    margin-bottom: 15px;
}

.smtdis {
    display: none;
}

.invc {
    margin: 20px auto;
    background: white;
}

.invc tr {
    font-family: 'Quicksand';
    text-align: center;
    color: #171717;
}

.invc th,
.invc td {
    border: 1px solid black;
    padding: 15px;
    padding: 18px;
}

.car-make {
    margin: 0;
}


/* .top-header {
    position: fixed;
    top: 0;
    width: 100%;
} */

.red-font {
    color: #da0037;
}

#motto {
    text-align: center;
    font-size: xxx-large;
    color: #49C5B6;
}

.cntform {
    height: 400px;
    display: grid;
    grid-template-columns: 40% 60%;
    place-items: center;
}

.txtcenter {
    text-align: center;
}

 ::placeholder {
    color: #ededed;
}

input {
    color: white;
    background: rgba(186, 186, 186, 0.502);
    font-family: 'Quicksand';
    font-size: 20px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
    border: none;
    filter: blur();
}

select {
    color: white;
    background: rgba(186, 186, 186, 0.502);
    font-family: 'Quicksand';
    font-size: 20px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
    border: none;
    filter: blur();
}

textarea {
    color: white;
    font-size: 20px;
    font-family: 'Quicksand';
    background: rgba(186, 186, 186, 0.502);
    margin-top: 10px;
    resize: none;
    border-radius: 5px;
    border: none;
}

address {
    width: 100%;
    font-size: 20px;
    color: #ededed;
    font-family: 'Quicksand';
    line-height: 1.1;
}

.bclabel {
    color: #ededed;
    font-family: 'Quicksand';
    font-size: 25px;
    font-weight: bold;
}

.but {
    /* padding: 17px 40px;s */
    /* width: 200px; */
    color: #171717;
    margin-top: 20px;
    border-radius: 20px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
}

.but:hover {
    cursor: pointer;
    letter-spacing: 3px;
    background-color: #49c5b6;
    color: hsl(0, 0%, 100%);
    box-shadow: #49c5b6 0px 7px 29px 0px;
}

.but:active {
    letter-spacing: 3px;
    background-color: rgb(0, 0, 0);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.cancbut {
    margin-top: 20px;
    border-radius: 20px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
}

.cancbut:hover {
    cursor: pointer;
    letter-spacing: 3px;
    background-color: #c54949;
    color: hsl(0, 0%, 100%);
    box-shadow: #b70303 0px 7px 29px 0px;
}

.cancbut:active {
    letter-spacing: 3px;
    background-color: rgb(0, 0, 0);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}